.container {
  height: 90vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 280px;
  padding: 30px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  background: rgb(222, 245, 247);
  color: black;
}

.card mat-icon {
  font-size: 20px;
  margin-bottom: 15px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}




